*{
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background: transparent;
}

body {
  width: 100%;
  height: 100vh;
}

.navbar {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navcontainer {
  display: flex;
  flex-direction: row;
  height: 44px;
  width: 88%;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 27px;
  height: 27px;
}

.navbar .logo h1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #3a404e;
  margin-left: 8px;
  width: 113px;
}

.paginas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.paginas a {
  color: #667085;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

.botoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.botoes button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  font-weight: 500;
  line-height: 24px;
  height: 38px;
}

.entrar {
  width: 83px;
  height: 100%;
  color: #667085;
}

.cadastrar {
  width: 108px;
  height: 100%;
  background-color: #8e2424;
  border-radius: 5px;
  color: #ffffff;
}

/*PRIMEIRA SEÇÃO */

.sobrenos{
  padding: 96px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.sobrenostitle{
  color: #8e2424;
  font-size: 16px;
  font-weight: 600;
}

.sobrenos h1{
  font-size: 48px;
  color: #101828;
}

.sobrenos p{
  color: #667085;
  line-height: 30px;
  max-width: 50%;
  text-align: center;
}


/*SEÇÃO DE MÉTRICAS*/

.secaometricas{
  display: flex;
  justify-content: center;
  gap:0 24px;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  padding-bottom: 96px;
}

.projetos, .downloads, .colaboradores, .reviews{
  width: 280px;
}

.numeros{
  font-size: 60px;
  color: #8e2424;
  font-weight: 600;
  line-height: 72px;
}

.titulos{
  color: #101828;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.content{
  color: #667085;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/*SEÇÃO COM IMAGEM */

.secaoimagem{
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.tituloimagem{
  color: #8e2424;
  font-size: 14px;
  font-weight: 500;
  background: #8e242405;
  padding: 4px 12px;
  border-radius: 16px;
}
  
.secaoimagem h1{
  font-size: 34px;
  color: #101828;
  line-height: 44px;
  letter-spacing: -2%;
  font-weight: 600;
}

.secaoimagem p{
  color: #667085;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.secaoimagem img{
  padding-top: 4rem;
}

/*Seção de Vagas*/

.secaodevagas {
  width: 50%;
  margin: auto;
  /* TEMPORÁRIO */
  padding-bottom: 5rem;
}


.areadavaga{
  color: #101828;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 4rem 0 2rem 0;
}

.vagasecao{
  display: flex;
  border: solid #eaecf0 01px;
  border-radius: 1rem;
  flex-direction: column;
  margin: 1.6rem auto;
  padding: 1.5rem;
  gap: 2rem;
}

.titulovagas{
  color: #101828;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.infovagas{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.infovagas p{
  color: #667085;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
